<app-openning-page [data]="data"></app-openning-page>
<section class="info">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h2 class="mb-4">شركة زهد للتقييم العقاري</h2>
                <p>شركة سعودية مرخصة متخصصة في التقييم العقاري معتمدة من قبل الهيئة السعودية للمقيمين المعتمدين وتطبق معاير التقييم الدولية 2022</p>
            </div>
            <div class="col-12">
                <ul class="list-unstyled d-flex flex-row text-center">
                    <li class="col-4 d-flex flex-column">
                        <span class="mb-3"><i class="fa-regular fa-envelope"></i></span>
                        <span>البريد الإلكتروني 24/7:</span>
                        <strong>evaluation&#64;zuhd-sa.com</strong>
                    </li>
                    <li class="col-4 d-flex flex-column">
                        <span class="mb-3"><i class="fa-solid fa-phone-volume"></i></span>
                        <span>الهاتف 24/7:</span>
                        <strong>0556501155</strong>
                    </li>
                    <li class="col-4 d-flex flex-column">
                        <span class="mb-3"><i class="fa-regular fa-map"></i></span>
                        <span>العنوان:</span>
                        <strong>شارع صلاح الدين الايوبى . حي الربوه. عماره الافق , الطابق الثالث, مكتب رقم 8 , الرياض , الممللكة العربية السعودية</strong>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>
<section class="the_map">
    <div class="container-fluid">
        <div class="row ">
            <div class="w-100 px-0">
                <iframe width="100%" height="550" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5414.077887616644!2d29.90093233477376!3d31.203061263589678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5c3eeb80e9c87%3A0x6811e30b752432cb!2sAl%20Raml%20Station!5e1!3m2!1sen!2seg!4v1745181223121!5m2!1sen!2seg"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>    
        </div>
    </div>
</section>
<section></section>