<nav class="navbar bd-bark p-0 ">
    <div class="container">
        <div class="d-flex gap-3">
            <a class="navbar-brand" href="#">
                <i class="fa-brands fa-pinterest-p main-font text-white"></i>
              </a>
              <a class="navbar-brand" href="#">
                <i class="fa-brands fa-instagram main-font text-white"></i>
              </a>
              <a class="navbar-brand" href="#">
                <i class="fa-brands fa-x-twitter main-font text-white"></i>     
             </a>
              <a class="navbar-brand" href="#">
                <i class="fa-brands fa-facebook-f main-font text-white"></i>     
             </a>
        </div>
        <div>
            <a class="navbar-brand" href="#">
              <span class="main-font text-white">  0556501155</span>
              </a>
            <a class="navbar-brand" href="#">
                <span class="main-font text-white">evaluation&#64;zuhd-sa.com</span>
              </a>
           
        </div>
      
    </div>
  </nav>