<nav class="navbar bg-body-tertiary">
    <div class="container">
        <div class="d-flex gap-3">
            <a class="navbar-brand" href="#">
                <i class="fa-brands fa-pinterest-p"></i>
              </a>
              <a class="navbar-brand" href="#">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a class="navbar-brand" href="#">
                <i class="fa-brands fa-x-twitter"></i>     
             </a>
              <a class="navbar-brand" href="#">
                <i class="fa-brands fa-facebook-f"></i>     
             </a>
        </div>
        <div>
            <a class="navbar-brand" href="#">
                0556501155
              </a>
            <a class="navbar-brand" href="#">
                evaluation&#64;zuhd-sa.com
              </a>
           
        </div>
      
    </div>
  </nav>