    <div class="container-fluid">
        <div class="row row-cols-lg-1 p-0">
           
            <div class="p-0 ">
                <div>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            
                            <div class="text-center">
                                <div class="position-relative"> 
                                    <img src="../../../assets/img/jason-dent-w3eFhqXjkZE-unsplash.jpg" height="700px" width=""   class="w-100" alt="">
                                </div>
                                <div class="position-absolute text-p">
                                    <h1>شركة زهد للتقيم العقاري </h1>
                                <h1>خبراء التقييم العقاري</h1>
                                <p>
                        شركة سعودية مرخصة متخصصة في التقييم العقاري معتمدة من قبل الهيئة السعودية للمقيمين المعتمدين و تطبق معاير التقييم الدولية 2022
                                </p>
                                <button>عن الشركة</button>
                                <button>إتصل بنا</button>
                                </div>
                                
                            </div>
                        </ng-template>  
                       
                        <ng-template carouselSlide>
                            
                            <div class="text-center">
                                <div class="position-relative"> 
                                    <img src="../../../assets/img/jason-dent-w3eFhqXjkZE-unsplash.jpg" height="700px" width=""   class="w-100" alt="">
                                </div>
                                <div class="position-absolute text-p">
                                    <h1>شركة زهد للتقيم العقاري </h1>
                                <h1>خبراء التقييم العقاري</h1>
                                <p>
                        شركة سعودية مرخصة متخصصة في التقييم العقاري معتمدة من قبل الهيئة السعودية للمقيمين المعتمدين و تطبق معاير التقييم الدولية 2022
                                </p>
                                <button>عن الشركة</button>
                                <button>إتصل بنا</button>
                                </div>
                                
                            </div>
                        </ng-template>  
                       
                        <ng-template carouselSlide>
                            
                            <div class="text-center">
                                <div class="position-relative"> 
                                    <img src="../../../assets/img/jason-dent-w3eFhqXjkZE-unsplash.jpg" height="700px" width=""   class="w-100" alt="">
                                </div>
                                <div class="position-absolute text-p">
                                    <h1>شركة زهد للتقيم العقاري </h1>
                                <h1>خبراء التقييم العقاري</h1>
                                <p>
                        شركة سعودية مرخصة متخصصة في التقييم العقاري معتمدة من قبل الهيئة السعودية للمقيمين المعتمدين و تطبق معاير التقييم الدولية 2022
                                </p>
                                <button>عن الشركة</button>
                                <button>إتصل بنا</button>
                                </div>
                                
                            </div>
                        </ng-template>  
                       
                        
                         
                      </owl-carousel-o>
                
                </div>
               
            </div>
    
        </div>
    </div>
    <app-services></app-services>
<section class="sec-3 text-center my-2">
    <div class="lay p-5">
        <div class="container">
            <div class="text-white">
                <h1 class="p-3">زهد للتقييم العقاري خبراء التقييم بالمملكة</h1>
                <p>شركة سعودية مرخصة متخصصة في التقييم العقاري معتمدة من قبل الهيئة السعودية</p>
                <p>للمقيمين المعتمدين وتطبق معاير التقييم الدولية 2022</p>
                <button>المزيد عنا</button>
            </div>
        </div>
    </div>
   
</section>

<section class="my-4">
    <div class="container">
        <div class="row row-cols-lg-2 row-cols-md-1 row-cols-sm-1">
            <div class="dr">
                <h1 >عن شركة زهد للتقييم العقاري</h1>
                <p>شركة سعودية مرخصة متخصصة في التقييم العقارى معتمده من قبل الهيئة السعودية للمقيمين المعتمدين وتطبق معاير التقييم الدولية 2022</p>
                <p>تتجاوز خبرات فريق عملنا خمسة عشر سنة في السوق السعودي وعملنا تقييم مشاريع عقارية متنوعة علي مستوي المملكة العربية السعودية وتختلف هذة العقارات من ارض فضاء الي محافظ وصناديق عقارية ومشاريع كبري متعددة الإستخدامات وعقارات استثمارية ولأغراض متنوعة منها أغراض البيع والشراء والقوائم المالية والتطوير والاستثمار والتمويل وأغراض نزع الملكيات مقدمة الي العديد من الجهات الحكومية والشركات الاستثمارية والتطويرية والمالية وايضا الشركات الحكومية والافراد</p>
                <p>نفخر بتقديم خدمات في أعلي مستويات الجودة وخدماتنا للعملاء بكفائة عالية , ونقدم تقارير بجوده وخبرة في السوق العقاري</p>
                <h5>Peter Johns</h5>
                <button>ابق علي تواصل معنا</button>
            </div>
            <div>

                <div class="bg-sec-4">
                    <img src="../../../assets/img/8945c530a4768c1b90a530bf1ec0b32d-1.jpg" class="w-100" alt="">
                    <div class="">

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="bg-dark-subtle">
    <div class="container">
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
            <div class="text-center">
                <h2>أخر الاخبار</h2>
            </div>
            <div class="text-center">
                <h2>روابط سريعة</h2>
                <ul class="list-unstyled">
                    <li><a href=""> Our Mission</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li> <a href="">Terms & Condition</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
                
                
               
                
            </div>
            <div class="text-center" >
                <h2>روابط سريعة</h2>
                <div>
                    <ul class="list-unstyled text-center">
                        <li><a href=""> About</a></li>
                        <li><a href="">Faq</a></li>
                        <li> <a href="">Career</a></li>
                        <li><a href="">Our team</a></li>
                        <li><a href="">Services</a></li>
                    </ul>
                    
                </div>
               
            </div>
            <div class="text-center">
                <h2>زهد للتقييم العقاري</h2>
                <p>شركة سعودية مرخصة متخصصة في التقييم العقاري معتمدة من قبل الهيئة السعودية للمقيمين المعتمدين وتطبق معاير التقييم الدولية 2022</p>
                <p> رقم الترخيص</p>
                <p>1210000128</p>
                <u class="list-unstyled d-flex gap-3 justify-content-center">
                    <li><i class="fa-brands fa-pinterest-p"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-x-twitter"></i></li>
                    <li> <i class="fa-brands fa-facebook-f"></i> </li>
                </u>
            </div>


        </div>

    </div>
</section>
<section class="footer">
    <nav class="navbar bg-body-tertiary">
        <div class="container ">
            <div class="row row-cols-lg-2 ">
                <div class="">
                    <a class="navbar-brand" href="#">
                        Contact Us
                      </a>
                      <a class="navbar-brand" href="#">
                        Terms & Condition
                      </a>
                      <a class="navbar-brand" href="#">
                        Privacy Policy    
                     </a>
                      <a class="navbar-brand" href="#">
                        Privacy Polic     
                     </a>
                </div>
                <div class="d-flex">
                    <a class="navbar-brand" href="">
                        Your Company.Designed By APTheme© 2020
                    </a>
                    
                   
                </div>
            </div>
            
            
          
        </div>
      </nav>

</section>
