<section class="w-100 openning">
    <div class="container-fluid ">
        <div class="row mb-3">
            <div class="col-12 thediv" style="background-image: url('{{data.image}}');">
                <h1>{{data.title}}</h1>
                <!-- <img src="assets/img/breadcrumb-2.jpg" alt="background" class="img-fluid"> -->
            </div>
        </div>
        <div class="row">
            <div class="col-12 links_tree">
                <ol class="breadcrumb w-100 justify-content-end px-5 ">
                    <li class="breadcrumb-item active" aria-current="page">{{data.title}}</li>
                    <li class="breadcrumb-item"><span [routerLink]="['/home']">Home</span></li>
                </ol>
            </div>
        </div>
    </div>
</section>