<!-- <section class="text-center">
    <div class="container">
        <div>
            <h1> أهم الخدمات</h1>
        <p>شركة زهد للتقييم العقاري</p>
        </div>
        <div class="container text-center">
            <div class="row gap-3 row-cols-lg-4 row-cols-md-2 row-cols-sm-1 mx-auto">
                <div class="card " style="width: 18rem;">
                    <img src="../../../assets/img/Screenshot-2025-04-20-172425.svg" height="150px" width="150px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>أفضل جودة</h2>
                      <p class="card-text">شركة زهد للتقييم العقاري
                    </p>
                    </div>
                  </div>
                <div class="card " style="width: 18rem;">
                    <img src="../../../assets/img/Screenshot-2025-04-20-172425.svg" height="150px" width="150px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>أفضل جودة</h2>
                      <p class="card-text">شركة زهد للتقييم العقاري
                    </p>
                    </div>
                  </div>
                <div class="card " style="width: 18rem;">
                    <img src="../../../assets/img/Screenshot-2025-04-20-172425.svg" height="150px" width="150px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>أفضل جودة</h2>
                      <p class="card-text">شركة زهد للتقييم العقاري
                    </p>
                    </div>
                  </div>
                <div class="card " style="width: 18rem;">
                    <img src="../../../assets/img/Screenshot-2025-04-20-172425.svg" height="150px" width="150px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>أفضل جودة</h2>
                      <p class="card-text">شركة زهد للتقييم العقاري
                    </p>
                    </div>
                  </div>
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/img/Screenshot-2025-04-20-172425.svg" height="150px" width="150px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>أفضل جودة</h2>
                      <p class="card-text">شركة زهد للتقييم العقاري
                    </p>
                    </div>
                  </div>
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/img/Screenshot-2025-04-20-172425.svg" height="150px" width="150px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>أفضل جودة</h2>
                      <p class="card-text">شركة زهد للتقييم العقاري
                    </p>
                    </div>
                  </div>
            </div>
        </div>
       
       
    </div>
</section> -->


<section class="d-flex justify-content-center align-items-center min-vh-100 text-center my-5">
    <div class="container">
      <div class="mb-5">
        <h1>أهم الخدمات</h1>
        <p>شركة زهد للتقييم العقاري</p>
      </div>
  
      <div class="row g-4">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 mx-auto" style="width: 18rem;">
            <img src="../../../assets/img/Screenshot-2025-04-20-174131.svg" class="card-img-top mx-auto mt-3" height="150" width="150" alt="...">
            <div class="card-body">
              <h2 class="h5">إستراتيجية</h2>
              <p class="card-text text-muted">شركة زهد للتقييم العقاري</p>
            </div>
          </div>
        </div>
  
      
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 mx-auto" style="width: 18rem;">
            <img src="../../../assets/img/Screenshot-2025-04-20-174040.svg" class="card-img-top mx-auto mt-3" height="150" width="150" alt="...">
            <div class="card-body">
              <h2 class="h5">نزاهة</h2>
              <p class="card-text text-muted">شركة زهد للتقييم العقاري </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 mx-auto" style="width: 18rem;">
            <img src="../../../assets/img/Screenshot-2025-04-20-172425.svg" class="card-img-top mx-auto mt-3" height="150" width="150" alt="...">
            <div class="card-body">
              <h2 class="h5">أفضل جودة</h2>
              <p class="card-text text-muted">شركة زهد للتقييم العقاري</p>
            </div>
          </div>
        </div>
    <!-- sec 2 -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 mx-auto" style="width: 18rem;">
            <img src="../../../assets/img/Screenshot-2025-04-20-174222.svg" class="card-img-top mx-auto mt-3" height="150" width="150" alt="...">
            <div class="card-body">
              <h2 class="h5">الاستدامة</h2>
              <p class="card-text text-muted">شركة زهد للتقييم العقاري</p>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 mx-auto" style="width: 18rem;">
            <img src="../../../assets/img/Screenshot-2025-04-20-174206.svg" class="card-img-top mx-auto mt-3" height="150" width="150" alt="...">
            <div class="card-body">
              <h2 class="h5">مجتمع متعاون</h2>
              <p class="card-text text-muted">شركة زهد للتقييم العقاري</p>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 mx-auto" style="width: 18rem;">
            <img src="../../../assets/img/Screenshot-2025-04-20-174151.svg" class="card-img-top mx-auto mt-3" height="150" width="150" alt="...">
            <div class="card-body">
              <h2 class="h5">أمان</h2>
              <p class="card-text text-muted">شركة زهد للتقييم العقاري</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  