/* You can add global styles to this file, and also import other style files */

:root {
    --main-color: #fff;
    --secondary-color:  #1a1a1a;
    --third-color: #999999;
    --font-family: "Cairo";
    --main-header: 32px ;
    --sub-header : 24px:
  }
  
  body{
    font-family: "Heebo", sans-serif;
  }

  .bd-bark{
    background-color: #1a1a1a;
  }


  .main-font{
    font-size: 20px ;
    font-weight: 500;
  }
  .menu-font{
    font-size: 16px;
  }

  .sub-font{
    font-size:48px ;
    font-weight: 500;
  }

  .h-font{
    font-size:52px ;
    font-weight: 500;
  }

.dr{
    direction: rtl;
    text-align: right;
}

.custom-btn {
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.custom-btn:hover {
  background-color: #fff;
  color: #000;
  transform: translateY(-2px);
}
